body {
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  color: #000000;
  overflow-x: hidden; }

.header-nav {
  padding: 0px; }
  .header-nav .header-nav_block {
    width: 212px;
    height: 16px; }

.search, .account, .bag {
  display: inline-block; }

.header-nav_block1 div {
  margin-right: 10px; }

.bg-block {
  background-color: #000000; }

.block1 .block1_h {
  color: #ffffff;
  padding-top: 55px;
  padding-left: 80px; }

.block1 .block1_p {
  color: #ffffff;
  padding-top: 126px;
  padding-left: 80px; }

.block1 .block1_p1 {
  color: #ffffff;
  padding-top: 80px;
  padding-left: 80px; }

.block1 .block1_img {
  width: 720px;
  height: 620px;
  top: 92px; }

.block2 .block2_h {
  color: #ffffff;
  padding-top: 176px;
  padding-left: 122px; }

.block2 .block2_p1 {
  color: #ffffff;
  padding-top: 25px;
  padding-left: 122px; }

.block2 .block2_p2 {
  color: #ffffff;
  padding-top: 16px;
  padding-left: 122px; }

.block2 .block2_p3 {
  color: #ffffff;
  padding-top: 16px;
  padding-left: 122px; }

.block2 .block2_img {
  padding-top: 80px;
  padding-left: 40px; }

.block2 .block2_p1:before {
  content: "";
  background-image: url("../img/untitled.png");
  width: 9px;
  height: 27px; }

.block3 .block3_p {
  color: #ffffff;
  font-size: 40px;
  padding-top: 172px;
  padding-left: 80px; }

.block3 .block3_img {
  padding-top: 80px;
  padding-right: 40px; }

.block4_h {
  padding-top: 80px; }

.block4 {
  padding-top: 42px;
  margin-bottom: 94px; }

.checked {
  color: orange; }

.block4 h5 {
  padding-top: 8px; }

.block4 p {
  padding: 8px 0; }

input {
  border: 0;
  border-bottom: 1px solid #000;
  background-color: rgba(0, 0, 0, 0);
  outline: 0; }

.block5 {
  padding-top: 80px; }
  .block5 .block5_h {
    padding-left: 155px; }
  .block5 .block5_p {
    padding-top: 29px;
    padding-left: 155px; }
  .block5 .input {
    padding-left: 155px; }

.img_footer {
  background: #F1F1F1;
  position: absolute;
  top: 2500px; }

@media (max-width: 768px) {
  .search, .account {
    display: none; }
  .header-nav_block {
    padding-left: 35px; }
  .block1 .block1_h, .block1 .block1_p, .block1 .block1_p1 {
    padding-left: 10px; }
  .block2 .block2_img {
    padding: 0px; }
  .block2 .block2_h, .block2 .block2_p1, .block2 .block2_p2, .block2 .block2_p3 {
    padding: 0px; }
  .block3 .block3_img {
    padding: 0px; }
  .block3 .block3_p {
    padding: 0px; } }
