

    $fontFamily: 'Open Sans';
    $fontSize: 28px;
    $fontWeight: 700;
    $lineHeight: 38.13px;
    $letterSpacing: 0.5em;
/*
$font-p:
    font-family: 'Open Sans',
    font-size: 12px,
    font-weight: 400,
    line-height: 20.1px;
}
$font-p1:
    font-family: 'Work Sans',
    font-size: 12px,
    font-weight: 400,
    line-height: 14.08px;
}
$font-h2:
    font-family: 'Open Sans',
    font-size: 14px,
    font-weight: 400,
    line-height: 23.52px;
}
$font_h3:
    font-family: 'Oswald',
    font-size: 12px,
    font-weight: 300,
    line-height: 20.16px;
}
$font-a:
    font-family: 'Open Sans',
    font-size: 12px,
    font-weight: 400,
    line-height: 20.1px;
}
*/
html, body {
    height: 100%;
    overflow-x: hidden;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    color: #000000;
    overflow-x: hidden;
    
}
.header-nav {
    padding: 10px 0px 0px 0px; 
    .header-nav_block {
        width: 212px;
        height: 16px;
       
    }
    .nav-text {
        font-family: Oswald;
        font-size: 12px;
        font-weight: lighter;
        text-transform: uppercase;
        letter-spacing: 0.16em;
    }
}
.search, .account, .bag {
    display: inline-block;
}
.header-nav_block1 {
    div {
        margin-right: 21px;
    }
}
.navbar-nav li {
    margin-right: 24px;
}
.navbar-nav a {
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 1.75px;
}
.bg-block {
    background-color: #000000;
}
.block1 {
    .block1_h {
        color: #FFFFFF;
        padding-top: 55px;
        padding-left: 80px;
        font-family: 'Open Sans';
        font-size: 28px;
        line-height: 36.4px;
        letter-spacing: 1.8px;
        font-style: normal;
        font-weight: 300;
    }
    .block1_p {
        color: #ffffff;
        padding-top: 126px;
        padding-left: 80px;
        font-family: 'Open Sans';
        font-size: 14px;
        line-height: 23.45px;
    }
    .block1_p1 {
        color: #ffffff;
        padding-top: 64px;
        padding-left: 80px;
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 400;
        line-height: 23.45px;
    }
    .block1_img {
      
        width: 720px;
        height: auto;
        top: 92px;
    }
}
.block2 {
    .block2_h {
        color: #ffffff;
        padding-top: 176px;
        padding-left: 93px;
        font-family: 'Open Sans';
        font-weight: lighter;
        font-size: 16px;
        line-height: 26.8px;
    }
    .block2_p1 {
        color: #ffffff;
        padding-top: 17px;
        padding-left: 95px;
        font-weight: bold;
        
    }
    .block2_p2 {
        color: #ffffff;
        padding-left: 95px;
        font-weight: bold;
    }
    .block2_p3 {
        color: #ffffff;
        padding-left: 95px;
        font-weight: bold;
        line-height: 167.5%;  
            .block2_p3_p {
                padding-left: 18px;
            }
        
    }
    .block2_img {
        padding-top: 80px;
        padding-left: 40px;
    }
    .block2_p1:before {
        content: "/";
        color: orange;
        width: 9px;
        height: 27px;
        margin-right: 9px;
    }
    .block2_p2:before {
        content: "/";
        color: orange;
        width: 9px;
        height: 27px;
        margin-right: 9px;
    }
    .block2_p3:before {
        content: "/";
        color: orange;
        width: 9px;
        height: 27px;
        margin-right: 9px;
    }
}
.block3 { 
    padding-bottom: 80px;
    .block3_p {
        color: #ffffff;
        font-size: $fontSize;
        line-height: $lineHeight;
        letter-spacing: $letterSpacing;
        padding-top: 172px;
        padding-left: 80px;
        font-weight: bold;
        
    }
    .block3_img {
        padding-top: 80px;
        padding-right: 40px;
    }
}
.block4_h {
    padding-top: 80px;
    font-size: 28px;
    line-height: 36.4px;
    margin-left: 24px;
}
.checked {
    color: orange;
}
.block4 {
    padding-top: 42px;
    margin-bottom: 94px;
    margin: 0px 10px;
    .block4_h1, p {
        padding-top: 8px;
        font-family: Oswald;
        font-size: 12px;
        line-height: 20.16px;
        letter-spacing: 0.25em;
    }
    p {
        padding: 8px 0;
    }
    .col-sm-3 {
        padding: 0px 7px;
    }
    .block4_star {
        height: 10px;
    }
}
input{
    border: 0;
    border-bottom: 1px solid #000;
    background-color: rgba(0,0,0,0);
    outline: 0;
}
.block5 {
    padding-top: 80px;
    .block5_h {
        padding-left: 155px;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 32px;
    }
    h4 {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 32px;
    }
    .block5_p {
        padding-top: 29px;
        padding-left: 155px;
        margin-bottom: 0px;
    }
    input {
        width: 460px;
    }
    .input {
        padding-left: 155px;
    }
    .block5_icons {
        padding-left: 155px;
        padding-top: 26px;
    }
    .block5_arrow {
        padding-left: 345px;
    }
    a {
        color: #7E7E7E;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 167.5%;
    }
}
.footer {
    position: relative;
    background: #F1F1F1;
    padding-left: 0px;
    padding-right: 0px;
    .footer-letters {
        position: absolute;
        top: 170px;
    }
}
@media (min-width: 650px) { 
    .containerMobile {
      display: none;
    }
  }
  
  @media (max-width: 768px) { 
    .containerDeckstop {
      display: none;
    }
  }

 @media(max-width: 768px) {
     .search, .account {
         display: none;
     }
     .header-nav_block {
         padding-left: 35px;
     }
     .block1 .col-sm-6 {
        padding: 0px 16px;
    } 
     .block1 {
       .block1_h, .block1_p {
          padding-left: 0px;
       }
       .block1_p1 {
        padding-left: 0px;
        padding-top: 24px;
       }
       .block1_img {
           width: 265px;
           height: 318px;
       }
    }  
     br {
         display: none;
     }
    .block2 {
        .block2_img {
            padding: 0px;
        }
        .block2_h, .block2_p1, .block2_p2, .block2_p3 {
            padding: 0px;
        } 
        .block2_colum2 {
            margin-top: 24px;
        }
    } 
    .block3 {
        padding-top: 64px;
        .block3_img {
            padding: 0px;
        }
        .block3_p {
            padding: 0px;
        }
    }
    .block5 {
        .block5_h {
            padding: 0px;
        }
        .block5_p {
            padding: 32px 0px 0px 0px;
        }
        .block5_icons {
            padding: 28px 0px 0px 0px;
        }
        .input {
            padding: 0px;
        }
        .block5_arrow {
            padding-left: 225px;
        }
        input {
            width: 350px;
        }
        .block5_block1 {
            padding-top: 42px;
        }
        .block5_block2 {
            padding-top: 25px;
        }
    }

    .footer {
       background: #F1F1F1;
       padding-left: 16px;
       .footer-letters {
           top: 730px;
       }
       
    }
    .carousel-item {
       
       
          .block4_h1 {
            font-family: Oswald;
            font-size: 12px;
            line-height: 20.16px;
            letter-spacing: 0.25em;
          }
    }

   
}